################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WarpWakeWebsite/FileContentIndex/576f7288-f2ad-45c6-a20a-4c3c4cf63e8f.vsidx
